<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dobavit dz</title>
</head>
<body>
    <form id="HWform">
        <table>
            <tbody>
                <tr><td>Заголовок: </td> <td> <input type="text" id="title" name="t" > </td> </tr>
                <tr><td>Главный текст: </td> <td> <input type="text" id="mainText" name="mt" > </td> </tr>
            </tbody>
        </table>
        <div>
            <button type="submit" name="createNbtn" form="HWform" formmethod="POST">Добавить новое дз</button>
        </div>
    </form>
</body>
</html>